name: Sync to Gitee
on:
  push:
    branches: [main]
  schedule:
    # 每天北京时间9点运行 
    - cron: '0 1 * * *'
  workflow_dispatch:
    # 手动触发同步

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Get current repo name(HTTPS)
        uses: actions/checkout@v4
        with:
              ref: main
              fetch-depth: 0
      - name: Debug GITEE_TOKEN
        run: echo "TOKEN_LENGTH=${#${{ github.repository_owner }}}"    
            
      - name: Get REPO_NAME
        run: echo "REPO_NAME=$(echo ${{ github.repository }} | cut -d'/' -f2)" >> $GITHUB_ENV
        
      - name: Set up Git
        run: |
          git config --global user.name "yangdavid988"
          git config --global user.email "david_yang@realsil.com.cn"
        
      - name: Mirror to Gitee        
        run: |              
            git remote add gitee https://${{ github.repository_owner }}:${{ secrets.GITEE_TOKEN }}@gitee.com/${{ github.repository_owner }}/${{ env.REPO_NAME }}.git        
      - name: Push to Gitee only       
        run: |  
          git add .
          git commit -m "automated sync from github"
          git push --mirror --force gitee
          continue-on-error: true