name: Sync to Gitee
on:
  push:
    branches: [main]

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Get current repo name(HTTPS)
        uses: actions/checkout@v4
        with:
              ref: main
              fetch-depth: 0
      - name: Check GITEE_TOKEN
        env:
          GITEE_TOKEN: ${{ secrets.GITEE_TOKEN }}
        run: |
          if [ -z "$GITEE_TOKEN" ]; then
            echo "Error: GITEE_TOKEN is empty!"
            exit 1
          fi
            echo "GITEE_TOKEN is set correctly."
            
      - name: Get REPO_NAME
        run: echo "REPO_NAME=$(echo ${{ github.repository }} | cut -d'/' -f2)" >> $GITHUB_ENV
        
      - name: Set up Gitee
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
        
      - name: Mirror to Gitee        
        run: |              
            git remote add gitee https://yangdavid988:${{ secrets.GITEE_TOKEN }}@gitee.com/${{ github.repository_owner }}/${{ env.REPO_NAME }}.git 
            git push gitee HEAD:refs/heads/main --force